:root {
  font-family: monospace, system-ui;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-accent: chartreuse;

  transition: 0.3s;
  font-size: 12pt;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

div {
  transition: 0.3s;
}

.transparent {
  background-color: transparent;
}

button {
  transition: 0.3s;
  border-width: 0;
  font-family: monospace;
  cursor: pointer;
}
button:hover {
  color: var(--color-accent);
}

.hover:hover {
  background-color: #3c3c3c;
  cursor: pointer;
}

.flex {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.navigation {
  height: 55px;
  background-color: #1b1b1b;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

i {
  width: 32px;
  height: 32px;
  align-items: center;
}

a {
  transition: 0.3s;
  text-decoration: none;
  color: whitesmoke;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}
a:hover {
  cursor: pointer;
  color: var(--color-accent);
}
a:visited {
  text-decoration: none;
}
a.active {
  color: var(--color-accent);
}

.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-4 {
  margin-bottom: 40px;
}

.h-40 {
  height: 40px;
}

.pr-15 {
  padding-right: 15px;
}
.pl-15 {
  padding-left: 15px;
}
.p-15 {
  padding-right: 15px;
  padding-left: 15px;
}

.br-20 {
  border-radius: 20px;
} 

.rect-64 {
  height: 64px;
  width: 64px;
}

.cover {
  align-self: center;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

::-webkit-scrollbar {
  display: none;
}